body{
	width:100%;
}

#body{
	width:100%;
	float:left;
	height:40px;
	background-image:url('navigator.png');
	margin-top:-8px;
	margin-left:-5px;
}
#container{
	width:800px;
	height:1000px;
	margin:0 auto;
}
#navigator{
	width:800px;
	height:40px;
	margin:0 auto;
	background-color:#42adda;
}

#left_pannel{
	width:350px;
	height:200px;
	margin-left:35px;
	margin-top:40px;
	float:left;	
	border:1px solid grey;
}

#right_pannel{
	width:350px;
	height:200px;
	margin-right:35px;
	margin-top:40px;
	float:right;
	border:1px solid grey;
}
input{
	height:30px;
	font-size:28px;
}